body[state='edit-session'] {
  @include full-height();

  // hide tabs navigation and turn sections into a column layout
  @media #{$medium-up} {
    .tabs {
      display: none;
    }

    .tabs-content {
      top: 0;
      @include grid-row();

      // show the content of all tabs
      > * {
        display: block !important;
      }
    }

    #floor-plan-tab {
      @include grid-column($columns: 7, $collapse: true);
    }

    #ascents-tab {
      @include grid-column($columns: 5, $collapse: false);

      // we want to display this heading above the list for larger screens
      h2 {
        display: block;
      }
    }
  }

  .tabs {
    .ascent-count {
      @include ascent-count(white, $belize-hole);
    }

    .active .ascent-count {
      color: $peter-river;
    }
  }

  // hide the content of inactive tabs
  .tabs-content > *:not(.active) {
    display: none;
  }

  .tabs-content > * {
    // we do not want to see the headings
    h2 {
      display: none;
    }

    // all tab content should take up the full height
    height: 100%;
  }

  #floor-plan-tab {

    > .row:nth-of-type(1) {
      height: 50%;

      > .column {
        height: 100%;

        .gym-floor-plan-wrapper {
          height: 100%;
          .map {
            height: 100%;
          }
        }
      }
    }

    > .row:nth-of-type(2) {
      // margin percentages are always multiplied with the width of the containing element
      // this results at the boulder photo not taking up all the vertical space
      margin-top: 2%;
      height: 48%;

      div[cu-color] {
        height: rem-calc(20px);
      }

      > .column {
        height: 100%;
        .boulder-photo-wrapper {
          height: 100%;
          .boulder-photo {
            height: 100%;
          }
        }
      }
    }

    .usage-hint p {
      @include card;
      font-style: italic;
      margin-top: $card-margin;
      font-size: 0.8em;
    }

    div[cu-color] {
      width: 100%;
      transition: background-color 500ms ease-out;
    }

    .boulder-photo-wrapper {
      @include card;
    }

    .boulder-photo {
      > img {
        max-width: none;
      }
    }

    .gym-floor-plan-wrapper {
      @include card;
    }


    .boulder-meta-wrapper {
      @include card;
    }

    .ascent-style-control {

      input {
        display: none;
      }

      label {
        @include button($padding:$button-sml, $bg: $wet-asphalt, $radius: false, $full-width: true);
        font-size: $button-font-med;
        margin: 0;
      }

      > div:nth-of-type(1) {
        margin-bottom: rem-calc(10px);
      }


      input:checked + label {
        background-color: $pumpkin;
      }
    }

    .boulder-meta {
      height: 2.5em;
      line-height: 2.5em;
      vertical-align: middle;
      text-align: center;

      font-weight: 600;
    }

    .characteristics {
      position: relative;
      text-align: center;
      img {
        margin-top: rem-calc(10px);
      }
    }

  }

  #ascents-tab {

    .ascent-list-wrapper {
      @include card;

      h2 {
        .ascent-count {
          @include ascent-count($silver, $body-font-color);
          float: right;
        }
      }

      overflow-y: auto;
      ul {
        $height: 3.5rem;

        @include list-items($height: $height, $clickable: true);

        li > div:last-child {
          @include link-icon($height: $height);
        }

        .ascent-meta {
          padding-left: 1rem;
        }

        .boulder-photo {
          img {
            max-width: 100%;
            max-height: none;
          }
        }
      }
    }
  }

  .boulder-photo {
    overflow: hidden;

    background-image: url('/images/placeholder.png');
    background-size: cover;
    background-position: 50% 50%;
  }

}