body[state='edit-session'] {
  @include full-height();

  // hide tabs navigation and turn sections into a column layout
  @media #{$medium-up} {
    .tabs {
      display: none;
    }

    .tabs-content {
      top: 0;
      @include grid-row();

      // show the content of all tabs
      > * {
        display: block !important;
      }
    }

    #floor-plan-tab {
      @include grid-column($columns: 7, $collapse: true);
    }

    #ascents-tab {
      @include grid-column($columns: 5, $collapse: true);

      // we want to display this heading above the list for larger screens
      h2 {
        display: block;
      }
    }
  }

  .tabs {
    .ascent-count {
      @include ascent-count(white, $belize-hole);
    }

    .active .ascent-count {
      color: $peter-river;
    }
  }

  // hide the content of inactive tabs
  .tabs-content > *:not(.active) {
    display: none;
  }

  .tabs-content > * {
    // we do not want to see the headings
    h2 {
      display: none;
    }

    // all tab content should take up the full height
    height: 100%;
  }

  #floor-plan-tab {
    > .row:nth-of-type(1) {
      height: 50%;

      .map {
        height: 100%;
      }
    }
    > .row:nth-of-type(2) {
      height: 50%;
      position: relative;

      $color-bar-height: rem-calc(7px);
      div[cu-color] {
        height: $color-bar-height;
      }

      .boulder-photo {
        position: absolute;
        top: $color-bar-height;
        bottom: 0;
      }
    }

    div[cu-color] {
      width: 100%;
      transition: background-color 500ms ease-out;
    }

    .boulder-photo {
      overflow: hidden;
      background-color: $midnight-blue;

      > img {
        max-width: none;
      }
    }

    .boulder-meta {
      height: 2em;
      line-height: 2em;
      vertical-align: middle;
      text-align: center;

      font-weight: 600;
    }

    .ascent-style-control {
      input {
        display: none;
      }

      label {
        width: 100%;
        margin: 0;
      }

      label[for='flash'] {
        background-color: $wet-asphalt;
      }

      label[for='top'] {
        background-color: lighten($wet-asphalt, 3%);

      }

      input[disabled] + label {
        color: gray;
        cursor: default;
      }

      input:checked + label {
        background-color: $pumpkin;
      }
    }

    .inactive {
      .boulder-photo {

      }

      div[cu-color], .boulder-meta {
        background-color: #eee;
      }
    }
  }

  #ascents-tab {
    h2 {
      margin: 0;
      line-height: 1em;
      vertical-align: middle;
      background-color: $belize-hole;
      color: white;

      padding: 0.3em;
      text-align: center;

      .ascent-count {
        @include ascent-count(white, $belize-hole);
      }
    }

    overflow-y: auto;
    ul {
      $height: 3.5rem;

      @include list-items($height, true);

      .ascent-meta {
        padding-left: 1rem;
      }

      .boulder-photo {

        img {
          max-height: 100%;
        }
      }
    }
  }

}