body[state='stats'] {
  @include full-height();

  // POSITIONING

  $current-grade-height: 2rem;
  $chart-height-small: 13rem;

  #current-grade {
    height: $current-grade-height;
    line-height: $current-grade-height;
    vertical-align: middle;
  }
  #chart {
    height: $chart-height-small;
  }
  #session-list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: $chart-height-small + $current-grade-height;
  }

  // REST

  #current-grade {
    text-align: right;
    color: white;
    background-color: $peter-river;
    padding-right: 0.5em;

    font-size: 1.5em;
    .grade {
      font-weight: 600;
    }
  }
  #chart {
    background: $peter-river;
  }
  #session-list {
    overflow-y: auto;
  }

  ul.sessions {
    $session-height: 3.5rem;

    @include list-items($session-height, true);
    .trend {
      font-size: 2em;

      i:nth-child(1) {
        color: #2ecc71;
      }
      i:nth-child(2) {
        color: #e74c3c;
      }
    }

    .trend, .ascents {
      line-height: $session-height;
      vertical-align: middle;
      text-align: center;
    }

    .trend {
      font-size: 2em;
    }

    .ascents span {
      @include ascent-count;
    }
  }

}
