body[state='start'] {

  section, footer {
    // required for placing the ribbon
    position: relative;
    @include grid-row();
  }

  @mixin dark-row() {
    background-color: #222;

    color: lighten($body-font-color, 95%);
  }

  @mixin light-row() {
    background-color: white;
  }

  section {
    &:nth-child(even) {
      @include light-row;
    }

    // dark
    &:nth-child(odd) {
      @include dark-row;
    }
  }

  @media #{$medium-up} {
    .column {
      padding: 0 1.5rem;
    }
  }


  footer {
    $footer-font-size: 0.7rem;

    font-size: $footer-font-size;
    ul {
      font-size: $footer-font-size;
    }

    @include dark-row;

    ul {
      margin: 0;
    }

    .column {
      height: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  #login {
    form {
      label {
        @include form-label($alignment: inline);
        // this is required for when breaking to small layout
        margin-bottom: 0;
      }
    }
  }

  #title {
    background: url(/images/bg/chalked_hands_1.jpg) #000 no-repeat;
    background-position: right top;

    .buttons {
      a {
        @include button($full-width: true, $padding: 0);
        height: 2.3125rem;
        line-height: 2.3125rem;
      }
    }

    .catch-lines {
      margin-top: 1em;
      list-style: none;

      strong {
        text-transform: uppercase;
      }
    }
  }

  form[name="notify"] {
    .description {
      margin-bottom: 0.3em;
    }
    button {
      padding: 0;
    }
  }

  #steps {
//    background: url(/images/bg/gym_1.jpg) #5e2a19 0 40% no-repeat;
    min-height: 300px;


    ol {
      margin-left: 0;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: stretch;

      li {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;

        align-items: center;

        div {
          flex-grow: 1;
          text-align: center;
        }
        strong {
          flex-shrink: 0;
        }
        p {
          margin: 0 1em;
        }
      }
    }

    img {
      max-height: 10em;
    }

    @media #{$medium-up} {
      ol {

        flex-direction: row;

        li {
          flex-direction: column;
          // items to bottom
          justify-content: flex-end;

          // image first
          div {
            order: 0;
          }
          strong {
            order: 1;
            margin-top: rem-calc(20);
          }
          p {
            order: 2;
            text-align: center;
          }
        }
      }
    }

    strong {
      @include label($radius: 100px, $text-size: 1.2em);
    }
  }

  #about-us {
    .profile {
      text-align: center;
      p {
        margin-top: 1em;
      }
    }
  }

}