body[state='stats'] {
  @include full-height();

  // POSITIONING

  $current-grade-height: 2rem;
  $chart-height-small: 13rem;

  #current-grade {
    height: $current-grade-height;
    line-height: $current-grade-height;
    vertical-align: middle;
  }
  #chart {
    height: $chart-height-small;
  }


  $bottom-bar-height: rem-calc(50px);
  #session-list {
    position: absolute;
    bottom: $card-margin * 2 + $bottom-bar-height;
    left: 0;
    right: 0;
    top: $chart-height-small + $current-grade-height + $card-margin;
    @include card;

    ul {
      height: 100%;
      overflow-y: auto;
    }
  }
  nav.preview {
    @include card;
    position: absolute;
    bottom: $card-margin;
    left: 0;
    right: 0;
    height: $bottom-bar-height;
  }


  // REST

  #current-grade {
    text-align: right;
    color: white;
    background-color: $peter-river;
    padding-right: 0.5em;

    font-size: 1.5em;
    .grade {
      font-weight: 600;
    }
  }
  #chart {
    background: $peter-river;
  }

  ul.sessions {
    $session-height: 3.5rem;

    li:first-child {
      // remove the standard list items top margin
      margin-top: 0;
    }

    li > div:last-child {
      @include link-icon($height: $session-height);
    }

    @include list-items($session-height, true);
    .trend {
      font-size: 2em;

      i:nth-child(1) {
        color: #2ecc71;
      }
      i:nth-child(2) {
        color: #e74c3c;
      }
    }

    .trend, .ascents {
      line-height: $session-height;
      vertical-align: middle;
      text-align: center;
    }

    .trend {
      font-size: 2em;
    }

    .ascents span {
      @include ascent-count;
    }
  }

  nav.preview {
    a {
      font-size: 0.75em;
      @include button($padding: rem-calc(5px));
      @include icon-label;
    }
    ul {
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: space-around;
    }
  }

}
