body[state='start'] {

  section, footer {
    // required for placing the ribbon
    position: relative;
    @include grid-row();
  }

  @mixin dark-row() {
    background-color: #222;

    color: lighten($body-font-color, 95%);
  }

  @mixin light-row() {
    background-color: white;
  }

  section {
    &:nth-child(even) {
      @include light-row;
    }

    // dark
    &:nth-child(odd) {
      @include dark-row;
    }
  }

  @media #{$medium-up} {
    .column {
      padding: 0 1.5rem;
    }
  }


  footer {
    $footer-font-size: 0.7rem;

    font-size: $footer-font-size;
    ul {
      font-size: $footer-font-size;
    }

    @include dark-row;

    min-height: 100px;

    ul {
      margin: 0;
    }

    .column {
      height: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  #login {
    form {
      label {
        @include form-label($alignment: inline);
        // this is required for when breaking to small layout
        margin-bottom: 0;
      }
    }
  }

  #title {
    background: url(/images/bg/chalked_hands_1.jpg) #000 no-repeat;

    @media #{$medium-up} {
      > div {
        height: 300px;
      }
    }
  }

  #steps {
//    background: url(/images/bg/gym_1.jpg) #5e2a19 0 40% no-repeat;
    min-height: 300px;


    ol {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: stretch;

      li {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;

        align-items: center;

        p {
          margin: 0 1em;
        }
      }
    }

    @media #{$large-up} {
      ol {
        flex-direction: row;

        li {
          flex-direction: column;
          // items to bottom
          justify-content: flex-end;

          // image first
          img {
            order: 0;
          }
          strong {
            order: 1;
            margin-top: rem-calc(20);
          }
          p {
            order: 2;
          }
        }
      }
    }

    img {
      display: block;
    }
    strong {
      @include label($radius: 100px, $text-size: 1.2em);
    }
  }

}