body[state='stats'] {
  @include no-scroll-content;

  // POSITIONING

  $current-grade-height: 2rem;
  $chart-height-small: 13rem;
  $chart-height-large: 30rem;

  .container section {
    height: 100%;
    padding: 0;
  }
  #current-grade {
    height: $current-grade-height;
    line-height: $current-grade-height;
    vertical-align: middle;
  }
  #chart {
    height: $chart-height-small;
  }
  #session-list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: $chart-height-small + $current-grade-height;
  }

  @media #{$large-up} {
    #current-grade, #chart {
      width: 70%;
    }
    #chart {
      height: $chart-height-large;
    }
    #session-list {
      left: 70%;
      right: 0;
      top: $current-grade-height;
    }
  }

  // REST

  #current-grade {
    text-align: right;
    color: white;
    background-color: #3498db;
    padding-right: 0.5em;

    font-size: 1.5em;
    .grade {
      font-weight: 600;
    }
  }
  #chart {
    background: #3498db;
  }
  #session-list {
    overflow-y: scroll;
  }

  ul.sessions {
    color: #444;

    margin: 0;

    $session-height: 3.5rem;

    li {
      border-bottom: 1px solid #ddd;
      list-style: none;

      .title {
        margin-top: $session-height * 0.125;
        font-weight: 600;
        color: #2980b9;
      }
      .gym {
        font-size: 0.8em;
      }

      .session-edit, .trend, .ascents {
        // TODO: use foundation equalizer
        height: $session-height;

        text-align: center;
        line-height: $session-height;
        vertical-align: middle;
      }

      .trend {
        font-size: 2em;

        i:nth-child(1) {
          color: #2ecc71;
        }
        i:nth-child(2) {
          color: #e74c3c;
        }
      }

      .ascents span {
        font-size: 0.8em;
        font-weight: 600;
      }

      .session-edit {
        font-size: 1.4em;

        border-left: 1px solid #eee;

        a {
          width: 100%;
          height: 100%;
          display: block;
          color: #444;
          &:hover {
            color: $primary-color;
          }
        }
      }

    }
  }

}


