@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import "foundation/scss/normalize";
@import "settings";
@import "foundation/scss/foundation";

$fi-path: "/bower_components/foundation-icon-fonts";
@import "foundation-icon-fonts/foundation-icons";

@mixin ascent-count($background-color: $carrot, $color: white) {
  @include label($text-size: 0.8em, $bg: $background-color, $radius: 1000px);

  font-weight: 600 !important;
  color: $color;
  position: relative;
  top: -0.1em;
}

@mixin icon-label {
  i[class^="fi-"] {
    margin-right: 0.5em;
  }
}

.coming-soon {
  @include label($bg: $nephritis);
//  position: absolute;
//  top: rem-calc(10);
//  right: rem-calc(10);
  float: right;
}


// TABS
$tabs-height: 45px;

.tabs {
  dd {
    // overwrite the foundation style of .tabs dd { top: 1px }
    top: 0;
  }

  a {
    font-weight: 300;

    width: 100%;
    height: $tabs-height;
    line-height: $tabs-height;
    vertical-align: middle;
    text-align: center;
  }

  .active a {
    border-bottom: 3px solid $orange;
  }
}

.tabs-content {
  // tab content fills the whole space of the surrounding div
  position: absolute;
  top: $tabs-height;
  bottom: 0;
  left: 0;
  right: 0;
}

// GYM FLOOR PLAN

.map {
  background-color: white;
}

.leaflet-container form, .leaflet-container input[type=checkbox] {
  margin: 0;
}

.boulder-icon {
  opacity: 0.9;
  border-radius: 100px; /* something large */

  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
}

// make icons bigger on touch screens!
.touch .boulder-icon {
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
}

.boulder-icon:hover, .boulder-icon.selected {
  width: 36px;
  height: 36px;
  margin-left: -18px;
  margin-top: -18px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
}

.boulder-icon.selected {
  opacity: 1.0;
  z-index: 1000000 !important;
}

// LIST ITEMS

$card-margin: rem-calc(10);

@mixin card() {
  background-color: white;
  border-bottom: 2px solid darken($clouds, 5%);

  padding: $card-margin;
}

@mixin list-items($height, $linkIcon: false, $clickable: false) {
  margin: 0;

  li {
    list-style: none;
    margin-bottom: rem-calc(10);

    &:last-child {
      margin-bottom: 0;
    }

    @if $clickable {
      &:hover {
        background-color: $clouds;
        cursor: pointer;
      }
    }

    .title {
      margin-top: $height * 0.125;
      font-weight: 600;
      color: $peter-river;
    }
    .subtitle {
      font-size: 0.8em;
    }

    > * {
      // TODO: use foundation equalizer
      height: $height;
    }

    @if $linkIcon {
      > :last-child {
        font-size: 1.4em;

        a {
          width: 100%;
          height: 100%;
          display: block;

          line-height: $height;
          vertical-align: middle;
          text-align: center;

          &:hover {
            background-color: $clouds;
          }
        }
      }
    }
  }
}

// OTHER STUFF

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

b, strong {
  font-weight: 600;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

h2 > i {
  color: $primary-color;
  font-size: 80%;
}

input.ng-invalid.ng-dirty {
  border-color: $alert-color;
}


// CONTENT CONTAINER
.container {
  // the next two styles result in the scroll bar to be displayed next to the content and not over the full page.

  height: 100%; // take up the full viewport height
  overflow-y: auto;
}

// this mixing constrains/extends the page content height to the viewport! So the content will always take up full height
// of the viewport.
// If a scrollbar for scrolling the page appears, the content overflows the .content div! Fix it!
@mixin full-height {
  .container {

    > .row {
      min-height: 100%; // this scales the row to the full container height
      position: relative; // required since the .column inside is positioned absolute

      > .column {
        // the combination of position: absolute and height 100% is important!
        // For what reasons ever, it works to make this div full height, despite this issue:
        // the row has a min-height of 100%, but no set height. Thus, setting a height of 100% on the inner div does not
        // work. See more: http://www.456bereastreet.com/archive/201306/height_in_percent_when_parent_has_min-height_and_no_height/ -->
        position: absolute;
        height: 100%;
      }
    }
  }
}

// SPINNER
#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(50, 50, 50, 0.3);
  z-index: 1000;

  *[us-spinner] {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

// PARTIALS

@import "navbar";
@import "start";
@import "stats";
@import "create-session";
@import "edit-session";



// MINOR PAGES

body[state='social'], body[state='detailed-stats'], body[state='recommendations'] {
  @include full-height();

  .wrapper {
    @include card;
  }

}
