@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import "foundation/scss/normalize";
@import "settings";
@import "foundation/scss/foundation";

$fi-path: "/bower_components/foundation-icon-fonts";
@import "foundation-icon-fonts/foundation-icons";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

b, strong {
  font-weight: 600;
}

section.row {
  @include panel();

  border-top: 0;

  @media #{$small-only}, #{$medium-only} {
    border-left-width: 0;
    border-right-width: 0;
  }

  &.light {

  }

  &.dark {
    h1, h2, p, small, ul {
      color: lighten($body-font-color, 95%);
    }
    a {
      color: lighten($primary-color, 50%);
      text-decoration: underline;
    }
  }
}


h2 > i {
  color: $primary-color;
  font-size: 80%;
}


input.ng-invalid.ng-dirty {
  border-color: $alert-color;
}


// CONTENT CONTAINER

@mixin no-scroll-content {
  .container {
    overflow-y: hidden;
  }
}

.container {
  height: 100%;
  overflow-y: scroll;
}


// TOP BAR

.top-bar {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

body {
  // this prevents container from disappearing partially behind top bar
  // this is added by foundation if you add data-topbar to the topbar <nav>
  padding-top: $topbar-height;
}


// PARTIALS

@import "start";
@import "stats";
