@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import "foundation/scss/normalize";
@import "settings";
@import "foundation/scss/foundation";

$fi-path: "/bower_components/foundation-icon-fonts";
@import "foundation-icon-fonts/foundation-icons";

@mixin ascent-count($background-color: $carrot, $color: white) {
  @include label($text-size: 0.8em, $bg: $background-color, $radius: 1000px);

  font-weight: 600 !important;
  color: $color;
  position: relative;
  top: -0.1em;
}

// TABS

dl.tabs dd {
  top: 0;

  a {
    $tabs-height: 45px;

    font-weight: 300;

    width: 100%;
    height: $tabs-height;
    line-height: $tabs-height;
    vertical-align: middle;
    text-align: center;

    .ascent-count {
      @include ascent-count(white, $belize-hole);
    }
  }

  &.active a {
    border-bottom: 3px solid $silver;

    .ascent-count {
      @include ascent-count(white, $peter-river);
    }
  }
}

// OTHER STUFF

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

b, strong {
  font-weight: 600;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

h2 > i {
  color: $primary-color;
  font-size: 80%;
}

input.ng-invalid.ng-dirty {
  border-color: $alert-color;
}

// CONTENT CONTAINER

@mixin no-scroll-container {
  .container {
    overflow-y: hidden;
  }
}

.container {
  height: 100%;
  overflow-y: scroll;

  > .content {
    min-height: 100%;
    background-color: white;
    position: relative;

    @media #{$large-up} {
      border-left: 1px solid $silver;
      border-right: 1px solid $silver;
    }
  }
}


// SPINNER
#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(50, 50, 50, 0.3);
  z-index: 1000;

  *[us-spinner] {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

// PARTIALS

@import "navbar";
@import "start";
@import "stats";
@import "create-session";
@import "edit-session";