@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
@import "normalize";
@import "settings";
@import "foundation";

// TODO: does this work in production?
$fi-path: "/bower_components/foundation-icon-fonts";
@import "foundation-icons";


#start-page {

  section.light {

  }

  section.dark {
    h1, h2, p {
      color: lighten($body-font-color, 95%);
    }
    a {
      color: lighten($primary-color, 50%);
      text-decoration: underline;
    }
  }

  #title {
    > div {
      background: url(/images/bg/firstBG.jpg) 50% 0 no-repeat;
    }
  }

  #session-stats {
    > div {
      background: url(/images/bg/secondBG.jpg) 50% 0 no-repeat;
    }
  }

  #recommendations {
    > div {
      background: url(/images/bg/thirdBG.jpg) 50% 0 no-repeat;
    }
  }

  #about-us {
    > div {
      background: url(/images/bg/secondBG.jpg) 50% 0 no-repeat;
    }
  }

  .footer {
    background-color: #222;
    height: 100px;
  }

  h2 > i {
    opacity: 0.5;
    font-size: 80%;
  }

}