<div class="row">
    <form ng-submit="logSession()">
        <div class="small-12 medium-8 medium-centered column create-session-wrapper">
            <div class="row">
                <div class="column end small-offset-1">
                    <h1>Neue Session anlegen</h1>
                </div>
            </div>
            <div class="row">
                <div class="small-2 column">
                    <label class="right inline">Datum</label>
                </div>

                <div class="small-10 column">
                    <input type="date" ng-model="session.date">
                </div>
            </div>

            <div class="row">
                <div class="small-2 column">
                    <label class="right inline">Halle</label>
                </div>

                <div class="small-10 column">
                    <select ng-model="session.gym" ng-options="gym.name for gym in gyms" required></select>
                </div>
            </div>

            <div class="row">
                <div class="small-offset-2 end column">
                    <button>Anlegen</button>
                </div>
            </div>
        </div>
    </form>
</div>

