<div class="wrapper">
    <div class="coming-soon">Coming soon!</div>

    <h2><i class="fi-graph-bar"></i> Statistiken</h2>

    <p>chalkUp! soll dein Kletter-Level als auch die Schwierigkeit der Boulder lernen. Umso mehr Begehungen
        eingetragen werden, umso genauer wird die Bewertung. <br/>
        Wir werden auch einzelne Charakteristiken der Boulder und deine jeweilige Stärke darin erheben:
    </p>
    <ul>
        <li>runde Sloper oder scharfe Leisten?</li>
        <li>kräftige Überhänge oder balancieren auf Platten?</li>
        <li>weite Züge oder delikate Fußwechsel?</li>
        <li>...</li>
    </ul>
</div>