<div class="wrapper">
    <div class="coming-soon">Coming soon!</div>

    <h2><i class="fi-graph-bar"></i> Statistiken</h2>

    <p>chalkUp! soll dein Kletter-Level lernen und die Schwierigkeit der Boulder einstufen. Je mehr Boulder
        eingetragen werden, umso genauer wird die Bewertung. <br/>
        Wie gut liegen dir...
    </p>
    <ul>
        <li>...runde Sloper oder scharfe Leisten?</li>
        <li>...kräftige Überhänge oder balancieren auf Platten?</li>
        <li>...weite Züge oder delikate Fußwechsel?</li>
    </ul>
    <p>Auch das wird chalkUp! erfassen.</p>
</div>