<dl class="tabs row collapse">
    <dd class="column small-6" ng-class="{active: activeTab == 'floor-plan'}">
        <a ng-click="activeTab = 'floor-plan'">alle Boulder</a>
    </dd>
    <dd class="column small-6" ng-class="{active: activeTab == 'ascents'}">
        <a ng-click="activeTab = 'ascents'">Begehungen <span class="ascent-count">{{session.ascents.length}}</span></a>
    </dd>
</dl>

<div class="tabs-content">
    <section id="floor-plan-tab" class="active" ng-init="activeTab = 'floor-plan'" ng-class="{active: activeTab == 'floor-plan'}">
        <h2>alle Boulder</h2>
        <div class="row">
            <div class="column large-12">
                <div class="gym-floor-plan-wrapper">
                    <gym-floor-plan floor-plan="gym.floorPlans[0]" boulders="gym.boulders"
                                boulder-click="select(boulder)"
                                floor-plan-click="unselect()"
                                selected-boulder="currentBoulder"></gym-floor-plan>
                </div>
            </div>
        </div>
        <div class="row" ng-show="currentBoulder">
            <div class="column small-8">
                <div class="boulder-photo-wrapper">
                    <div class="boulder-photo">
                        <img ng-show="currentBoulder.photo"
                             ng-src="{{currentBoulder.photo.url}}" scale-to-cover scroll="true"/>
                    </div>
                </div>
            </div>
            <div class="column small-4">
                <div class="boulder-meta-wrapper">
                    <div class="ascent-style-control">
                        <div>
                            <input id="flash" type="checkbox" ng-model="currentAscent.style" ng-true-value="flash"
                                   ng-false-value="none"
                                   ng-disabled="!currentAscent">
                            <label for="flash">flash</label>
                        </div>
                        <div>
                            <input id="top" type="checkbox" ng-model="currentAscent.style" ng-true-value="top"
                                   ng-false-value="none"
                                   ng-disabled="!currentAscent">
                            <label for="top">top</label>
                        </div>
                    </div>
                    <div class="boulder-meta">
                        <span>{{currentBoulder.initialGrade.readable}}</span>
                    </div>
                    <div cu-color="currentBoulder.color" angle="45"></div>
                    <div class="characteristics">
                        <img src="/images/boulder-characteristics.png"/>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="ascents-tab"  ng-class="{active: activeTab == 'ascents'}">
        <div class="ascent-list-wrapper">
            <h2>Begehungen <span class="ascent-count">{{session.ascents.length}}</span></h2>
            <ul>
                <li ng-repeat="ascent in session.ascents" class="row collapse card" ng-click="select(boulder(ascent.boulder))" >
                    <div class="column small-1" cu-color="boulder(ascent.boulder).color" angle="45"></div>
                    <div class="column small-3 boulder-photo" ng-switch on="boulder(ascent.boulder).photo.url">
                        <img ng-src="{{boulder(ascent.boulder).photo.url}}" scale-to-cover scroll="false"/>
                    </div>
                    <div class="column small-6 ascent-meta">
                        <div class="title">{{boulder(ascent.boulder).initialGrade.readable}}</div>
                        <div class="subtitle">{{ascent.style}}</div>
                    </div>
                    <div class="column small-2">
                        <!-- TODO: remove the ng-show as soon as the boulder is guaranteed to be loaded -->
                        <a ng-show="boulder(ascent.boulder)"><i class="fi-arrows-out"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>