<dl class="tabs row collapse">
    <dd class="column small-6" ng-class="{active: activeTab == 'floor-plan'}"><a ng-click="activeTab = 'floor-plan'">alle
        Boulder</a></dd>
    <dd class="column small-6" ng-class="{active: activeTab == 'ascents'}"><a ng-click="activeTab = 'ascents'">Begehungen
        <span class="ascent-count">{{session.ascents.length}}</span></a></dd>
</dl>

<div class="tabs-content">
    <section class="content" id="floor-plan" ng-class="{active: activeTab == 'floor-plan'}">
        <h2>alle Boulder</h2>
        <gym-floor-plan floor-plan="gym.floorPlans[0]" boulders="gym.boulders"
                        boulder-click="select(boulder)"
                        floor-plan-click="unselect()"
                        selected="currentBoulder"></gym-floor-plan>

        <div class="row collapse" ng-class="{inactive: currentBoulder === undefined}">
            <div cu-color="currentBoulder.color"></div>
            <div class="column small-8 boulder-photo">
                <img ng-show="currentBoulder !== undefined && currentBoulder.photo === undefined"
                     src="images/placeholder.png"/>
                <img ng-show="currentBoulder !== undefined && currentBoulder.photo !== undefined"
                     ng-src="{{currentBoulder.photo.url}}" alt=""/>
            </div>
            <div class="column small-4">
                <div class="boulder-meta">
                    <span>{{currentBoulder.initialGrade.readable}}</span>
                </div>
                <div class="ascent-style-control button-group">
                    <div>
                        <input id="flash" type="checkbox" ng-model="currentAscent.style" ng-true-value="flash"
                               ng-false-value="none"
                               ng-disabled="!currentAscent">
                        <label for="flash" class="button medium">flash</label>
                    </div>
                    <div>
                        <input id="top" type="checkbox" ng-model="currentAscent.style" ng-true-value="top"
                               ng-false-value="none"
                               ng-disabled="!currentAscent">
                        <label for="top" class="button medium">top</label>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="content" id="ascents" ng-class="{active: activeTab == 'ascents'}">
        <h2>Begehungen <span class="ascent-count">{{session.ascents.length}}</span></h2>
        <ul>
            <li ng-repeat="ascent in session.ascents" class="row collapse">
                <div class="column small-1" cu-color="boulder(ascent.boulder).color"></div>
                <div class="column small-4 boulder-photo" ng-switch on="boulder(ascent.boulder).photo.url">
                    <div ng-switch-when="undefined">
                        <img src="images/placeholder.png"/>
                    </div>
                    <div ng-switch-default>
                        <img ng-src="{{boulder(ascent.boulder).photo.url}}" alt=""/>
                    </div>
                </div>
                <div class="column small-5 ascent-meta">
                    <div class="title">{{boulder(ascent.boulder).initialGrade.readable}}</div>
                    <div class="subtitle">{{ascent.style}}</div>
                </div>
                <div class="column small-2">
                    <a ng-click="select(boulder(ascent.boulder))"><i class="fi-arrows-out"></i></a>
                </div>
            </li>
        </ul>
    </section>
</div>