<section class="floor-plan">
    <h2>alle Boulder</h2>
    <gym-floor-plan floor-plan="gym.floorPlans[0]" boulders="boulders"
                    boulder-click="select(boulder)"
                    floor-plan-click="unselect()"
                    selected="currentBoulder"></gym-floor-plan>

    <div class="boulder-photo">
        <div ng-show="!currentBoulder.photo">NO PHOTO</div>
        <div ng-show="currentBoulder.photo">
            <img ng-src="{{currentBoulder.photo.url}}" alt=""/>
        </div>
    </div>
    <div class="boulder-meta">
        {{currentBoulder.initialGrade.readable}}
        <div style="width: 50px; height: 50px;" cu-color="currentBoulder.color"></div>
    </div>
    <div class="ascent-style-control">top/flash</div>
</section>

<section class="ascents">
    <h2>Begehungen <span class="ascent-count">{{session.ascents.length}}</span></h2>
    <ul>
        <li ng-repeat="ascent in session.ascents">
            {{ascent.style}}
        </li>
    </ul>
</section>
