<section class="row dark panel" id="title">
    <div class="large-6 column">
        <p><strong>Mit chalkUp! kannst du deinen persönlichen Fortschritt beim Bouldern in der Halle verfolgen,
            visualisieren und mit anderen vergleichen.</strong></p>
    </div>
    <div class="large-6 column" id="notify">
        <div class="panel" ng-show="!registered">
            <p>Hast du Interesse? Dann geben wir dir Bescheid sobald die erste Version für dich benutzbar ist:</p>

            <form name="notify" class="row collapse" ng-submit="registerNotification(email)" novalidate>
                <div class="large-7 column">
                    <input type="email" placeholder="danielwoods@themachine.me" ng-model="email" required/>
                </div>
                <div class="large-5 column">
                    <button class="postfix" type="submit" ng-disabled="notify.$invalid">Benachrichten!</button>
                </div>
            </form>
            <small>Deine E-Mail-Adresse verwenden wir nur um dich zu benachrichtigen und löschen sie, sobald die
                Benachrichtigungs-Mail an dich versandt wurde.
            </small>
        </div>
        <div class="alert-box success" ng-show="registered">
            Wir schreiben dir an <i>{{email}}</i> sobald die erste Version für dich benutzbar ist!
        </div>
        <div class="alert-box alert" ng-show="error">
            Es ist ein Fehler ({{error.status}}) aufgetreten! Tut uns leid.
        </div>
    </div>
</section>


<section class="row light panel" id="summary" data-equalizer>
    <div class="large-6 column" data-equalizer-watch>
        <p>In den unterstützen Hallen sind die momentan geschraubten Boulder voreingetragen. Um eine <a
                href="#enter-session">Boulder-Session zu erfassen</a> wählst du die Boulder aus, die du an diesem Tag
            geschafft hast. Daraufhin kannst du deinen Fortschritt in einer <a
                    href="#session-stats">Auswertung der Session</a> beurteile. <br/> <a href="#global-stats">Statistiken</a>
            erlauben dir deinen Fortschritt und andere Kenndaten über einen längeren Zeitraum zu verfolgen. chalkUp!
            kann dir aber auch <a href="#recommendations">Empfehlungen</a> für Boulder geben, die dir liegen könnten. Du
            kannst dich mit deinen Mit-Boulderern <a href="#compare">vergleichen</a> und deinen Fortschritt teilen.
        </p>
    </div>
    <div class="large-6 column" data-equalizer-watch>
    </div>
</section>

<section class="row dark panel" id="create-session">
    <div class="large-6 column">
    </div>
    <div class="large-6 column">
        <h2><i class="fi-pencil"></i> Boulder-Session eintragen</h2>

        <p>Wähle die Boulder die du an einem Tag klettern konntest auf dem Hallengrundriss und anhand eines Fotos aus.
            Für jeden Boulder gibst du an, ob du ihn auf Anhieb geschafft hast oder nicht.
        </p>
    </div>
</section>


<section class="row light panel" id="stats">
    <div class="large-6 column">
        <h2><i class="fi-graph-bar"></i> Statistiken</h2>

        <p>Wie lief eine Session? Hast du dich verbessert? Um wie viel? Wie viele Boulder hast du gemacht? All dies
            beantwortet dir deine Statistik.</p>
    </div>
    <div class="large-6 column">
    </div>
</section>

<section class="row dark panel" id="recommendations">
    <div class="large-6 column">
    </div>
    <div class="large-6 column">
        <h2><i class="fi-lightbulb"></i> Empfehlungen</h2>

        <p>chalkUp! schlägt dir Boulder vor, die in deinem Grad liegen.</p>
    </div>
</section>


<section class="row light panel" id="compare" data-equalizer>
    <div class="large-6 column" data-equalizer-watch>
        <h2><i class="fi-share"></i> Vergleiche dich und teile</h2>

        <p>Vergleiche deinen Fortschritt mit anderen. Teile eine Session über Facebook oder Google+.</p>
        <p><i class="fi-social-facebook"></i>&nbsp;<i class="fi-social-google-plus"></i></p>
    </div>

    <div class="large-6 column" data-equalizer-watch>
    </div>
</section>

<section class="row dark panel" id="about-us">
    <h2><i class="fi-torsos-male-female"></i> Über uns</h2>

    <div class="large-6 column">
        <p>TEXT</p>
    </div>

    <div class="large-6 column">
        <p>TEXT</p>
    </div>
</section>

<section class="row dark panel" id="footer">
    <div class="large-7 column">
        <p>TEXT</p>
    </div>
    <div class="large-1 column">
        <p>Images</p>
    </div>
    <div class="large-4 column">
        <ul>
            <li><a href="http://flic.kr/p/aCv6jx">Unnamed</a> by nordique (<a
                    href="http://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA</a>)
            </li>
            <li><a href="http://flic.kr/p/7NTqEq">Rock Climbing</a> by gregoryniss (<a
                    href="http://creativecommons.org/licenses/by-nc-nd/2.0/">CC BY-NC-ND</a>)
            </li>
            <li><a href="http://flic.kr/p/7NTr99">Chalk 1</a> by gregoryniss (<a
                    href="http://creativecommons.org/licenses/by-nc-nd/2.0/">CC BY-NC-ND</a>)
            </li>
            <li><a href="http://flic.kr/p/7QE7X9">Out From Under</a> by lytfyre (<a
                    href="http://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA</a>)
            </li>
        </ul>
    </div>
</section>