
<section class="row dark" id="title">
    <div class="large-12 large-centered column panel">
        <h1>chalkUp!</h1>

        <div class="row" data-equalizer>
            <div class="large-6 column" data-equalizer-watch>
                <p><strong>Mit chalkUp! kannst du deinen persönlichen Fortschritt beim Bouldern in der Halle verfolgen,
                    visualisieren und mit anderen vergleichen.</strong></p>

                <p>In den unterstützen Hallen sind die momentan geschraubten Boulder voreingetragen. Um eine <a
                        href="#enter-session">Boulder-Session zu erfassen</a> wählst du die Boulder aus, die du an
                    diesem Tag geschafft hast. Daraufhin kannst du deinen Fortschritt in einer <a
                            href="#session-stats">Auswertung der Session</a> beurteile. <br/> <a href="#global-stats">Statistiken</a>
                    erlauben dir deinen Fortschritt und andere Kenndaten über einen längeren Zeitraum zu verfolgen.
                    chalkUp! kann dir aber auch <a href="#recommendations">Empfehlungen</a> für Boulder geben, die dir
                    liegen könnten. Du kannst dich mit deinen Mit-Boulderern <a href="#compare">vergleichen</a> und
                    deinen Fortschritt teilen.
                </p>
            </div>
            <div class="large-6 column" data-equalizer-watch id="notify">
                <div class="panel">
                    <p>Hast du Interesse? Dann geben wir dir Bescheid, sobald die erste Version für dich benutzbar
                        ist:</p>

                    <form action="" class="row collapse">
                        <div class="large-7 column">
                            <input type="email" placeholder="danielwoods@themachine.me" required/>
                        </div>
                        <div class="large-5 column">
                            <button class="postfix" type="submit">Benachrichten!</button>
                        </div>
                    </form>
                    <small>Deine E-Mail-Adresse verwenden wir nur um dich zu benachrichtigen und löschen sie, sobald die
                        Benachrichtigungs-Mail an dich versandt wurde.
                    </small>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row light" id="enter-session">
    <div class="large-12 column panel">
        <h2><i class="fi-pencil"></i> Boulder-Session eintragen</h2>

        <div class="row">
            <div class="large-9 column">
                <p>TEXT</p>
            </div>
            <div class="large-3 column">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="/images/mockups/create-session-1.png" />
                        </li>
                        <li>
                            <img src="/images/mockups/create-session-1.png" />
                        </li>
                        <li>
                            <img src="/images/mockups/create-session-1.png" />
                        </li>
                        <li>
                            <img src="/images/mockups/create-session-1.png" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row dark" id="session-stats">
    <div class="large-12 column panel">
        <div class="row">
            <div class="large-2 column">
            </div>
            <div class="large-2 column">
            </div>
            <div class="large-2 column">
            </div>
            <div class="large-6 column">
                <h2><i class="fi-results"></i> Session auswerten</h2>

                <p>TEXT</p>
            </div>
        </div>
    </div>
</section>


<section class="row light" id="global-stats">
    <div class="large-12 column panel">
        <div class="row">
            <div class="large-6 column">
                <h2><i class="fi-graph-bar"></i> Statistiken</h2>

                <p>TEXT</p>
            </div>
            <div class="large-2 column">
            </div>
            <div class="large-2 column">
            </div>
            <div class="large-2 column">
            </div>
        </div>
    </div>
</section>

<section class="row dark" id="recommendations">
    <div class="large-12 column panel">
        <div class="row">
            <div class="large-2 column">
            </div>
            <div class="large-2 column">
            </div>
            <div class="large-2 column">
            </div>
            <div class="large-6 column">
                <h2><i class="fi-lightbulb"></i> Empfehlungen</h2>

                <p>TEXT</p>
            </div>
        </div>
    </div>
</section>


<section class="row light" id="compare">
    <div class="large-12 column panel">
        <div class="large-6 column">
            <h2><i class="fi-share"></i> Vergleiche dich und teile</h2>

            <p>TEXT</p>
        </div>

        <div class="row">
            <div class="large-2 column">
            </div>
            <div class="large-2 column">
            </div>
            <div class="large-2 column">
            </div>
        </div>
    </div>
</section>

<section class="row dark" id="about-us">
    <div class="large-12 column panel">
        <h2><i class="fi-torsos-male-female"></i> Über uns</h2>

        <div class="large-6 column">
            <p>TEXT</p>
        </div>

        <div class="large-6 column">
            <p>TEXT</p>
        </div>
    </div>
</section>

<section class="row dark">
    <div class="large-12 column panel footer">
    </div>
</section>
