<nav class="bar">
    <h1><a ui-sref="start">chalkUp!</a></h1>
    <nav class="menu" ng-show="navBar.menu.length != 0">
        <a class="icon" ng-click="menu.toggle()"><i class="fi-list"></i></a>

        <ul ng-show="menuVisible">
            <li ng-repeat="item in navBar.menu">
                <a ng-click="menuItemClick(item)">{{item.label}}</a>
            </li>
        </ul>
    </nav>
    <ul class="buttons" ng-show="navBar.buttons.length != 0">
        <li ng-repeat="button in navBar.buttons">
            <a class="icon" ng-click="buttonClick(button)"><i class="fi-{{button.icon}}"></i></a>
        </li>
    </ul>

    <div class="username" ng-show="user.current">{{user.current.username}}</div>
</nav>