<div class="wrapper">
    <div class="coming-soon">Coming soon!</div>

    <h2><i class="fi-lightbulb"></i> Empfehlungen</h2>

    <p>chalkUp! wird dir Boulder empfehlen, mit denen du an deinen Schwächen arbeiten kannst. Oder </p>
    <ul>
        <li>die du zum <strong>Aufwärmen</strong> machen kannst</li>
        <li>mit denen du längere Zeit <strong>kämpfen</strong> musst</li>
        <li>in die du einen <strong>Flash-Versuch</strong> investieren solltest</li>
    </ul>

    <a ui-sref="edit-session({id: $state.params.id})" class="button">weiter</a>
</div>