<div class="wrapper">
    <h2><i class="fi-lightbulb"></i> Empfehlungen</h2>

    <p>Basierend auf den von dir gelernten Grad wird dir chalkUp! Boulder empfehlen, mit denen du an deinen
        Schwächen arbeiten kannst, oder die du</p>
    <ul>
        <li>zum <strong>Aufwärmen</strong> machen kannst</li>
        <li>längere Zeit <strong>projektieren</strong> musst</li>
        <li>in die du einen <strong>Flash-Versuch</strong> investieren solltest</li>
    </ul>

    <a ui-sref="edit-session({id: $state.params.id})" class="button">weiter</a>
</div>