<div class="wrapper">
    <div class="coming-soon">Coming soon!</div>

    <h2><i class="fi-share"></i> Vergleiche dich</h2>

    <p>Am liebsten beißen wir uns gemeinsam in die Boulderprobleme. Wir teilen Erfolge und motivieren uns, wenn
        es mal nicht so klappt. Diese Aspekte sollten sich auch in chalkUp! wiederfinden.</p>

    <p>Zusammen mit deinen Boulderfreunden kannst du also eine Gruppe eröffnen. Hier kannst du deine Sessions teilen.
        Finde andere, die ähnliche Boulder wie du machen und tausche dich mit ihnen aus. Organisiere
        spontane Wettkämpfe und messe dich! <br/>
        Und wenn du möchtest, teile deinen Fortschritt auch auf Facebook, Google+ und Co.</p>
</div>