<div class="wrapper">
    <div class="coming-soon">Coming soon!</div>

    <h2><i class="fi-share"></i> Vergleiche dich und teile</h2>

    <p>Uns erfüllt es sehr, gemeinsam an einem Boulderproblem zu arbeiten und Erfolge und Rückschläge zu teilen.
        Diese Aspekte sollten sich auch in chalkUp! wiederfinden.</p>

    <p>Du solltest also Bouldergruppen definieren und deine Sessions mit deren Mitgliedern teilen können. Finde
        andere, die ähnliche Boulder wie du machen und tausche dich mit ihnen aus. Organisiere
        spontane Competitions und messe dich!</p>

    <p>Und all das sollte sich in einer Art und Weise mit deinen Profilen in sozialen Netzwerken integrieren, die
        für dich durchschaubar ist. chalkUp! wird nicht zufällige Dinge auf deiner Pinnwand posten.</p>
</div>