<section id="title">
    <div class="column">
        <h1>chalkUp!</h1>

        <ul>
            <li><strong>Verfolge</strong> deinen Fortschritt beim Bouldern</li>
            <li><strong>Finde</strong> die besten Boulder für dich</li>
            <li><strong>Vergleiche</strong> dich mit deinen Freunden</li>
        </ul>

        <div>
            <a class="button" ng-click="demoLogin()">erstmal ausprobieren</a>
        </div>
        <div>
            <a class="button" ng-click="openLogin()">mit E-Mail-Adresse anmelden</a>
        </div>
    </div>
</section>

<section id="steps">
    <div class="column large-12">
        <h2>So funktioniert's</h2>

        <ol>
            <li>
                <strong>1</strong>
                <p>Gehe Bouldern</p>
                <img src="/images/chalkbag.png" width="200"/>
            </li>
            <li>
                <strong>2</strong>
                <p>Trage deine Boulder ein</p>
                <img src="/images/nexus-5-screenshot.png" width="140"/>
            </li>
            <li>
                <strong>3</strong>
                <p>Werte deinen Fortschritt aus</p>
                <img src="/images/macbook.png" width="300"/>
            </li>
        </ol>
    </div>
</section>


<section id="story">
    <div class="column">
        <h2>Die Story</h2>

        <p>Wir sind begeisterte Kletterer aus München. Im Winter halten wir uns in Boulderhallen fit und trainieren auf
            den Sommer. Wir glauben daran, dass Fortschritt motiviert und sind fest davon überzeugt, dass es dir genauso
            geht. Und diesen Fortschritt wollen wir sehen. Deshalb haben wir chalkUp! entwickelt.
        </p>

        <p>Mit der ersten Version können wir Boulder eintragen und sofort sehen, wie sich unser Level entwickelt
            hat. <span ng-if="canLogin"><a ng-click="openLogin()">Und du kannst das auch</a>.</span> Doch wir haben noch
            viele weitere Ideen:</p>
        <ul>
            <li>Boulder- und Kletterhallen könnten mit chalkUp! ihre Routendatenbank pflegen</li>
            <li>Wir könnten spontane Wettkämpfe ausrufen und unsere Freunde dazu einladen</li>
            <li>Unsere selbst definierten Boulderprobleme könnten über chalkUp! veröffentlicht werden</li>
        </ul>
        <p>Was könntest du dir noch vorstellen? <a ng-click="openFeedbackPanel()">Teile deine Idee doch mit uns!</a>
        </p>
    </div>
</section>

<section id="about-us">
    <h2><i class="fi-torsos-male-female"></i> Über uns</h2>

    <div class="column medium-4">
        <p>Florian</p>
    </div>
    <div class="column medium-4">
        <p>Thomas</p>
    </div>
    <div class="column medium-4">
        <p>Tony</p>
    </div>
</section>

<!--<section id="notify">
    <div class="column medium-6" ng-include="'/views/notify.html'" ng-controller="NotifyCtrl"></div>
</section>-->

<section id="stats">
    <div class="coming-soon">Coming soon!</div>
    <div class="column medium-6 medium-push-6">
        <h2><i class="fi-graph-bar"></i> Statistiken</h2>

        <p>chalkUp! soll dein Kletter-Level lernen und die Schwierigkeit der Boulder einstufen. Je mehr Boulder
            eingetragen werden, umso genauer wird die Bewertung. <br/>
            Wie gut liegen dir...
        </p>
        <ul>
            <li>...runde Sloper oder scharfe Leisten?</li>
            <li>...kräftige Überhänge oder balancieren auf Platten?</li>
            <li>...weite Züge oder delikate Fußwechsel?</li>
        </ul>
        <p>Auch das wird chalkUp! erfassen.</p>
    </div>
    <div class="column medium-6 medium-pull-6">
        <p>&lt;Bild zum Lernalgorithmus?&gt;</p>
    </div>
</section>

<section id="recommendations">
    <div class="coming-soon">Coming soon!</div>
    <div class="column medium-6">
        <h2><i class="fi-lightbulb"></i> Empfehlungen</h2>

        <p>chalkUp! wird dir Boulder empfehlen, mit denen du an deinen Schwächen arbeiten kannst. Oder </p>
        <ul>
            <li>die du zum <strong>Aufwärmen</strong> machen kannst</li>
            <li>mit denen du längere Zeit <strong>kämpfen</strong> musst</li>
            <li>in die du einen <strong>Flash-Versuch</strong> investieren solltest</li>
        </ul>
    </div>
</section>


<section id="compare">
    <div class="coming-soon">Coming soon!</div>

    <div class="column medium-6 medium-push-6">
        <h2><i class="fi-share"></i> Vergleiche dich</h2>

        <p>Am liebsten beißen wir uns gemeinsam in die Boulderprobleme. Wir teilen Erfolge und motivieren uns, wenn
            es mal nicht so klappt. Diese Aspekte sollten sich auch in chalkUp! wiederfinden.</p>

        <p>Zusammen mit deinen Boulderfreunden kannst du also eine Gruppe eröffnen. Hier kannst du deine Sessions teilen.
            Finde andere, die ähnliche Boulder wie du machen und tausche dich mit ihnen aus. Organisiere
            spontane Wettkämpfe und messe dich! <br/>
            Und wenn du möchtest, teile deinen Fortschritt auch auf Facebook, Google+ und Co.</p>
    </div>

    <div class="column medium-6 medium-pull-6">
    </div>
</section>


<footer>
    <div class="column medium-7">
        <div>München, 2014 | Kontakt: <a href="mailto:info@chalkup.de">info@chalkup.de</a></div>
    </div>
    <div class="column medium-1">
        Images
    </div>
    <div class="column medium-4">
        <ul>
            <li><a href="http://flic.kr/p/aCv6jx">Unnamed</a> by nordique (<a
                    href="http://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA</a>)
            </li>
            <li><a href="http://flic.kr/p/7NTqEq">Rock Climbing</a> by gregoryniss (<a
                    href="http://creativecommons.org/licenses/by-nc-nd/2.0/">CC BY-NC-ND</a>)
            </li>
            <li><a href="http://flic.kr/p/7NTr99">Chalk 1</a> by gregoryniss (<a
                    href="http://creativecommons.org/licenses/by-nc-nd/2.0/">CC BY-NC-ND</a>)
            </li>
            <li><a href="http://flic.kr/p/7QE7X9">Out From Under</a> by lytfyre (<a
                    href="http://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA</a>)
            </li>
        </ul>
    </div>
</footer>