<section id="title">
    <div class="medium-6">
        <h1>chalkUp!</h1>

        <p><strong>Mit chalkUp! kannst du deinen persönlichen Fortschritt beim Bouldern in der Halle verfolgen,
            visualisieren und mit anderen vergleichen.</strong></p>
    </div>
    <div>&nbsp;</div>
</section>


<section id="summary">
    <div class="medium-6">
        <p>In den unterstützen Hallen sind die momentan geschraubten Boulder voreingetragen. Um eine <a
                href="#create-session">Boulder-Session zu erfassen</a> wählst du die Boulder aus, die du an diesem Tag
            geschafft hast. <br/> <a href="#stats">Statistiken</a> erlauben dir deinen Fortschritt und andere Kenndaten
            über einen längeren Zeitraum zu verfolgen. chalkUp! kann dir aber auch <a href="#recommendations">Empfehlungen</a>
            für Boulder geben, die dir liegen könnten. Du kannst dich mit deinen Mit-Boulderern <a href="#compare">vergleichen</a>
            und deinen Fortschritt teilen.
        </p>
    </div>
    <div class="medium-6" id="login" ng-include="'/views/login.html'"></div>
</section>

<section id="create-session">
    <div class="medium-6">&nbsp;</div>
    <div class="medium-6">
        <h2><i class="fi-pencil"></i> Boulder-Session eintragen</h2>

        <p>Wähle die Boulder die du an einem Tag klettern konntest auf dem Hallengrundriss und anhand eines Fotos aus.
            Für jeden Boulder gibst du an, ob du ihn auf Anhieb geschafft hast oder nicht.
        </p>
    </div>
</section>


<section id="stats">
    <div class="medium-6">
        <h2><i class="fi-graph-bar"></i> Statistiken</h2>

        <p>Wie lief eine Session? Hast du dich verbessert? Um wie viel? Wie viele Boulder hast du gemacht? All dies
            beantwortet dir deine Statistik.</p>
    </div>
    <div class="medium-6">
    </div>
</section>

<section id="recommendations">
    <div class="medium-6">&nbsp;</div>
    <div class="medium-6">
        <h2><i class="fi-lightbulb"></i> Empfehlungen</h2>
        <p>chalkUp! schlägt dir Boulder vor, die in deinem Grad liegen.</p>
    </div>
</section>


<section id="compare" data-equalizer>
    <div class="medium-6" data-equalizer-watch>
        <h2><i class="fi-share"></i> Vergleiche dich und teile</h2>

        <p>Vergleiche deinen Fortschritt mit anderen. Teile eine Session über Facebook oder Google+.</p>

        <p><i class="fi-social-facebook"></i>&nbsp;<i class="fi-social-google-plus"></i></p>
    </div>

    <div class="medium-6" data-equalizer-watch>
    </div>
</section>

<section id="about-us">
    <h2><i class="fi-torsos-male-female"></i> Über uns</h2>

    <div class="medium-6">
        <p>TEXT</p>
    </div>

    <div class="medium-6">
        <p>TEXT</p>
    </div>
</section>

<footer>
    <div class="medium-7">
        <p>TEXT</p>
    </div>
    <div class="medium-1">
        <p>Images</p>
    </div>
    <div class="medium-4">
        <ul>
            <li><a href="http://flic.kr/p/aCv6jx">Unnamed</a> by nordique (<a
                    href="http://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA</a>)
            </li>
            <li><a href="http://flic.kr/p/7NTqEq">Rock Climbing</a> by gregoryniss (<a
                    href="http://creativecommons.org/licenses/by-nc-nd/2.0/">CC BY-NC-ND</a>)
            </li>
            <li><a href="http://flic.kr/p/7NTr99">Chalk 1</a> by gregoryniss (<a
                    href="http://creativecommons.org/licenses/by-nc-nd/2.0/">CC BY-NC-ND</a>)
            </li>
            <li><a href="http://flic.kr/p/7QE7X9">Out From Under</a> by lytfyre (<a
                    href="http://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA</a>)
            </li>
        </ul>
    </div>
</footer>