<section id="current-grade">
    momentaner Grad: <span class="grade">{{user.current.grade.mean.font}}</span>
</section>
<section id="chart" grade-chart grade-data="gradeData">
</section>

<section id="session-list">
    <ul ng-show="statistics.length != 0" class="sessions">
        <li ng-repeat="s in statistics | orderBy:'-session.date'" class="row collapse">
            <div class="column medium-1 small-2 ascents">
                <span>{{s.session.ascents.length}}</span>
            </div>
            <div class="column medium-9 small-6">
                <div class="title">
                    {{s.session.date | amDateFormat: 'LL' }}
                </div>
                <div class="subtitle">
                    {{s.session.gym.name}}
                </div>
            </div>
            <div class="column medium-1 small-2 trend">
                <i ng-show="s.gradeDiff > 0" class="fi-arrow-up"></i>
                <i ng-show="s.gradeDiff < 0" class="fi-arrow-down"></i>
                <i ng-show="s.gradeDiff == 0" class="fi-arrow-right"></i>
            </div>
            <div class="column medium-1 small-2 session-edit">
                <a ui-sref="edit-session({id: {{s.session.id}} })"><i class="fi-pencil"></i></a>
            </div>
        </li>
    </ul>
    <div ng-show="statistics.length == 0" class="text-center">
        <p>Du hast noch keine Sessions eingetragen.</p>
        <a class="button" ui-sref="create-session"><i class="fi-plus"></i> Lege deine Erste an!</a>
    </div>
</section>

<nav class="preview">
    <ul>
        <li><a ui-sref="social"><i class="fi-torsos-all"></i> meine Bouldergruppe</a></li>
        <li><a ui-sref="detailed-stats"><i class="fi-graph-trend"></i> detailierte Statistiken</a></li>
    </ul>
</nav>