<section class="row">
    <div id="current-grade">
        momentaner Grad: <span class="grade">6c+</span>
    </div>
    <div id="chart" grade-chart grade-data="gradeData">
    </div>

    <div id="session-list">
        <ul class="sessions">
            <li ng-repeat="s in statistics | orderBy:'-session.date'" class="row collapse">
                <div class="column medium-1 small-2 trend">
                    <i ng-show="$even" class="fi-arrow-up"></i>
                    <i ng-show="$odd" class="fi-arrow-down"></i>
                </div>
                <div class="column small-6">
                    <div class="title">
                        {{s.session.date | amDateFormat: 'LL' }}
                    </div>
                    <div class="gym">
                        Heavens Gate
                    </div>
                </div>
                <div class="column medium-1 small-2 ascents">
                    <span class="round label">{{s.session.ascents.length}}</span>
                </div>
                <div class="column large-1 medium-1 small-2 session-edit">
                    <a href="#"><i class="fi-pencil"></i></a>
                </div>
            </li>
        </ul>
    </div>
</section>