<div id="current-grade">
    momentaner Grad: <span class="grade">6c+</span>
</div>
<div id="chart" grade-chart grade-data="gradeData">
</div>

<div id="session-list">
    <ul class="sessions">
        <li ng-repeat="s in statistics | orderBy:'-session.date'" class="row collapse">
            <div class="column medium-1 small-2 trend">
                <i ng-show="s.gradeDiff > 0" class="fi-arrow-up"></i>
                <i ng-show="s.gradeDiff < 0" class="fi-arrow-down"></i>
            </div>
            <div class="column small-6">
                <div class="title">
                    {{s.session.date | amDateFormat: 'LL' }}
                </div>
                <div class="gym">
                    Heavens Gate
                </div>
            </div>
            <div class="column medium-1 small-2 ascents">
                <span>{{s.session.ascents.length}}</span>
            </div>
            <div class="column large-1 medium-1 small-2 session-edit">
                <a ui-sref="edit-session({id: {{s.session.id}} })"><i class="fi-pencil"></i></a>
            </div>
        </li>
    </ul>
</div>